.bluebackground {
    background-color: #53b3db;
    padding: 1.25em;
    color: white;
    font-size: 1.5em;
    box-shadow: .5px;
    /* position: fixed;
    width: 100% */
}


/* .right {
  float: right;
} */

.border {
    border-radius: .1em;
    border-width: medium;
    padding: .5em;
}

.add {
    text-align: center;
}

.tasklist {
    background: #f6f6f6;
    border-radius: .5em;
    border-width: thick;
    padding: 1em;
    height: calc(100vh - 6em);
    overflow-y: auto;
}

.table {}

.title {
    padding: 1em;
}

.childname {
    text-align: center;
}

.tasks {
    border-radius: .5em;
    /* border-width: thick; */
    margin: 2em;
    padding: 1em;
}

.inner {
    margin-right: 2.5em;
    margin-left: 2.5em;
}

.completed {
    background-color: #b8dac2;
}

.in-progress {
    background-color: antiquewhite;
}